<div class="row">
	<div class="col-8">
		<div class="row">
			<div class="col-6">
				<div class="img-content">
					<div class="img-wrapper">
						<ul class="slider">
							<li><img src="../../assets/images/homepage/4.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/5.gif" alt="" title="Front"
									style="width: 100%; height: 800px;">
							</li>
							<li><img src="../../assets/images/homepage/6.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;">
							</li>
							<li><img src="../../assets/images/homepage/7.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;">
							</li>
							<li><img src="../../assets/images/homepage/1.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/2.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/3.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="img-content">
					<div class="img-wrapper">
						<ul class="slider">
							<li><img src="../../assets/images/homepage/8.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/9.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/10.gif" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/11.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;"></li>
							<li><img src="../../assets/images/homepage/12.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;">
							</li>
							<li><img src="../../assets/images/homepage/13.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;">
							</li>
							<li><img src="../../assets/images/homepage/14.jpg" alt="" title="Front"
									style="width: 100%; height: 800px;">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="cards">
			<div class="go"
				style="background-image: url('https://st4.depositphotos.com/16010920/20043/v/1600/depositphotos_200432876-stock-illustration-patterns-clothes-set-clothes-elements.jpg'); background-size: cover; background-position: center; opacity: 0.8;">
				<h2 style="color: #ce1212; font-weight: bold; font-size: 50px;">T-SHIRT</h2>
				<h2 style="color: #9202af; font-weight: bold; font-size: 50px;">JEANS</h2>
			</div>
			<div class="go"
				style="background-image: url('https://st4.depositphotos.com/16010920/20043/v/1600/depositphotos_200432682-stock-illustration-seamless-patterns-clothes-set-clothes.jpg'); background-size: cover; background-position: center; opacity: 0.8;">
				<h2 style="color: #27ae60; font-weight: bold; font-size: 50px;">SKIRT</h2>
				<h2 style="color: #3498db; font-weight: bold; font-size: 50px;">SHOES</h2>
			</div>
			<div class="go"
				style="background-image: url('https://st3.depositphotos.com/6134934/12679/v/950/depositphotos_126798054-stock-illustration-vector-pattern-of-fashion-objets.jpg'); background-size: cover; background-position: center; opacity: 0.8;">
				<h2 style="color: #960a0a; font-weight: bold; font-size: 50px;">COAT</h2>
				<h2 style="color: #9B59B6; font-weight: bold; font-size: 50px;">HAT</h2>
			</div>
		</div>

		<button id="btn" style="width: 200px; margin-top: 100px; margin-left: 15px; font-size: x-large;" mat-flat-button
			color="accent" routerLink="/products">Get Started</button>

	</div>




</div>
