.navbar-brand {
	font-size: 2.2rem;
	font-weight: bold;
	color: #c43131;
	text-decoration: none;
	font-family: "Lobster", sans-serif;
	font-weight: 400;
	font-style: normal;
}


a {
	font-size: 14px;
	font-weight: 700
}

.superNav {
	font-size: 13px;
}

.form-control {
	outline: none !important;
	box-shadow: none !important;
}

@media screen and (max-width:540px) {
	.centerOnMobile {
		text-align: center
	}
}

.nav-link i {
    font-size: 1.5rem;
}
