<section class="vh-100" style="background-color: #eee;">
	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-lg-12 col-xl-11">
				<div class="card text-black" style="border-radius: 25px;">
					<div class="card-body p-md-5">
						<div class="row justify-content-center">
							<div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

								<p class="signup-title">Sign Up</p>
								<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mx-1 mx-md-4">

									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-user fa-lg me-3 fa-fw"></i>
										<div data-mdb-input-init class="form-outline flex-fill mb-0">
											<input formControlName="name" type="text" id="form3Example1c"
												class="form-control" placeholder="Your Name" />
											<label class="form-label" for="form3Example1c"></label>
											<div *ngIf="submitted && name?.invalid" class="text-danger">
												<div *ngIf="name?.errors?.['required']">Name is required.</div>
											</div>
										</div>
									</div>

									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
										<div data-mdb-input-init class="form-outline flex-fill mb-0">
											<input formControlName="email" type="email" id="form3Example3c"
												class="form-control" placeholder="Your Email" />
											<label class="form-label" for="form3Example3c"></label>
											<div *ngIf="submitted && email?.invalid" class="text-danger">
												<div *ngIf="email?.errors?.['required']">Email is required.</div>
												<div *ngIf="email?.errors?.['email']">Invalid email address.</div>
											</div>
										</div>
									</div>

									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-lock fa-lg me-3 fa-fw"></i>
										<div data-mdb-input-init class="form-outline flex-fill mb-0">
											<input formControlName="password" type="password" id="form3Example4c"
												class="form-control" placeholder="Password" />
											<label class="form-label" for="form3Example4c"></label>
											<div *ngIf="submitted && password?.invalid" class="text-danger">
												<div *ngIf="password?.errors?.['required']">Password is required.</div>
												<div *ngIf="password?.errors?.['minlength']">Password must be at least 6
													characters long.</div>
											</div>
										</div>
									</div>

									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-key fa-lg me-3 fa-fw"></i>
										<div data-mdb-input-init class="form-outline flex-fill mb-0">
											<input formControlName="confirmPassword" type="password"
												id="form3Example4cd" class="form-control"
												placeholder="Repeat your password" />
											<label class="form-label" for="form3Example4cd"></label>
											<div *ngIf="submitted && confirmPassword?.invalid || registerForm.errors?.['mismatch']"
												class="text-danger">
												<div *ngIf="confirmPassword?.errors?.['required']">Confirm password is
													required.</div>
												<div *ngIf="registerForm.errors?.['mismatch']">Passwords must match.
												</div>
											</div>
										</div>
									</div>

									<div class="d-flex flex-row align-items-center mb-4">
										<i class="fas fa-calendar-alt fa-lg me-3 fa-fw"></i>
										<div data-mdb-input-init class="form-outline flex-fill mb-0">
											<input formControlName="birthdate" type="date" id="form3Example5c"
												class="form-control" />
											<label class="form-label" for="form3Example5c"></label>
											<div *ngIf="submitted && birthdate?.invalid" class="text-danger">
												<div *ngIf="birthdate?.errors?.['required']">Birthdate is required.
												</div>
											</div>
										</div>
									</div>

									<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
										<button type="submit" data-mdb-button-init data-mdb-ripple-init
											class="btn btn-primary btn-lg">Register</button>
									</div>

								</form>

							</div>
							<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
								<img src="../../assets/images/logo/register-bg.png" class="img-fluid"
									alt="Sample image">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
