#main {
	margin-right: 350px;
	margin-top: 30px;
}

.bg-image img {
	max-width: 200px;
	/* Adjust as needed (e.g., 150px) */
	max-height: 200px;
	/* Adjust as needed (e.g., 150px) */
	object-fit: cover;
	/* Maintain aspect ratio */
}


.bg-image:hover img {
	transform: scale(1.05);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;
}

.bg-image .hover-overlay:hover .mask {
	background-color: rgba(0, 0, 0, 0.2);
}


